
body { 
 background: url('n1.jpeg') no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}


.container{
   margin:50px;
   left:90px;
   margin-left:50px;
}


.btn{
  height: 60px;
  width: 200px;
 float:center;
}

